@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@400;500&display=swap');
*
{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Merriweather', serif; */
    
}
#header
{
    margin:5px 5px 0px 5px;
    height:auto;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(40,24,111,1) 17%, rgba(6,219,246,1) 100%);
    border-radius:10px;
    /* position: sticky;
    top: 0; */
    color : white;
}
#logo
{
    height:150px;
    width:150px;
    border-radius: 50%;
    padding:10px 20px;
}
#title
{
    
   text-shadow: 1px 1px 1px grey; 
   font-size: xx-large;
}
#notification
{
    
    border:1px solid red;
    border-radius: 10px;
    margin:10px;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: center;
      
}
#notification div
{
    font-family: 'Merriweather', serif;
    background-color: red;
    border-radius: 10px;
    color:white;
    width:20%;
    height:auto;
    text-wrap: nowrap;
    padding:5px;
    text-align: center;
    font-weight: 700;

}
#notification marquee
{
    font-family: 'Merriweather', serif;
    color:red;
}
#nav_bar
{
    background-color: bisque;
    margin:0px 5px 0px 5px;
    width:100%;
    border-radius:10px;
    /* position: sticky;
    top:165px; */
    
}
#nav_bar ul
{
    display:flex;
    justify-content: space-around;
}
#nav_bar ul li
{
    font-family: 'Merriweather', serif;
    list-style-type:none;
    padding:20px;
    text-decoration: none;
    font-weight: 300;
    font-size: x-large;
    color:black;
    
}
#nav_bar ul li a
{
    font-family: 'Merriweather', serif;
    list-style-type:none;
    padding:20px;
    text-decoration: none;
    font-weight: 300;
    font-size: x-large;
    color:black;
}
#login-form
{
    margin:0px 5px 0px 5px;
    width:100%;
    height:600px;
    background-color : burlywood;
    display:inline-block;
    margin:5px 5px 0px 5px;
    text-align: center;
    font-family: 'Merriweather', serif;
    border-radius: 10px;
    border: 2px solid black;
}
#login-form h2
{
    margin-bottom: 5px;;
}
#form_id
{
    display:flex;
    
}
.form-group
{
    width:50%;
    height:600px;   
                
}
#sign-in-form
{
    width:100%;
    height:100%;
    background-color:hotpink;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: end;
    
        
}

#sign-in-button
{
    background-color: azure;
    width:150px;
    height:50px;
    border-radius: 30px 0px 0px 30px;
    font-family: 'Merriweather', serif;
    text-align: center;   
    color: hotpink;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
   
}

#sign-up-button
{
    background-color: hotpink;
    width:150px;
    height:50px;
    border-radius: 30px 0px 0px 30px;
    font-family: 'Merriweather', serif;
    text-align: center;   
    color: azure;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    
}


#sign-in-tab
{
    width:100%;
    height:100%;
    background-color:olive;
    display:flex;
    justify-content:center;
    align-items: center;
    
    
}
#sign-in-cre
{
    width:100%;
    height:100%;
    background-color:azure;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
    
}


.fields
{
    width:90%;
    height:30px;
    margin : 5px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.label_fields
{
    width:40%;
    height:30px;
    margin : 5px 0px;
    
    border:none;

}
#address
{
    height:80px;
}
#sign-up-tab
{
    width:100%;
    height:100%;
    background-color:olive;
    display:none;
    justify-content:center;
    align-items: center;
    

}

#sign-up-cre
{
    width:100%;
    height:100%;
    background-color:azure;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

}
#sign-in-tab table
{
    
    border-spacing: 20px;
    
}
#sign-in-tab table td
{
    text-align: left;  
}
#sign-up-tab table
{
    
    border-spacing: 20px;
    
}
#sign-up-tab table td
{
    text-align: left;  
}